body {
  padding-top: 66px;

}

.tableStyle{
    background-color: #323232;
    color:white;
    text-align: center;
    border: 1px solid white;
    height:10px;
    padding: 5px;
    table-layout: fixed;
    width:100%;

}
.tableHead{
  background-color: #323232;
  color:white;
  text-align: center;
  border: 1px solid white;
  height:16px;
padding: 5px;
table-layout: fixed;
width:100%;

}

footer.footer {
  position: fixed;
clear:both;
height:100%;
width:100%;
 margin: 0px;
    padding: 0px;
    
}
/*.bmiCalc table th{
  color:white;
  border:1px;
  border-color: white;
}*/
.userpic{
  padding-top:10px;
  opacity:0.85;
  margin:0;
  background-color:#323232;
  width:30%
  border-width: 0.1px;
 height:555px;
 z-index:9999;
 margin-left:0px;
 min-height:100%;
 max-width:100%;
max-height:100%;
vertical-align: middle;
}
.userdetails{
  padding:10px 0 0 10px;
  opacity:0.85;
  background-color:#b2b2b2;
  height:555px;
  max-width:auto;
}
.userdetails ul{
  margin:11px;
}
.userdetails a{
  display: inline-block; 
}
.bmiCalc{
  padding-top:10px;
  opacity:0.85;
  margin:0;
  background-color:#323232;
  width:30%
  border-width: 0.1px;
  height:555px;
  z-index:9999;
  margin-left:0px;
  min-height:100%;
  max-width:100%;
  max-height:100%;
  vertical-align: middle;
}
.bmiCalc h2{
  color:white;
  padding-top:0px;
  text-align: center;
}
.userpic h3{
  color:white;
  padding-top:0px;
  text-align: center;
}
#mainNav .navbar-brand {
  font-weight: 800;
  color: #343a40;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #343a40;
}

#mainNav .navbar-nav > li.nav-item > a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media only screen and (min-width: 992px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }
  #mainNav .navbar-brand {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  #mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (min-width: 992px) {
  #mainNav {
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }
  #mainNav.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -67px;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);
  }
  #mainNav.is-fixed .navbar-brand {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
    color: #0085A1;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #0085A1;
  }
  #mainNav.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}